.about{
    max-width: 120rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 87.5em){
        padding: 3rem;
    }

    @media (max-width: 37.5em){
        flex-direction: column;
        padding: 0 5rem;
    }

    &__container{
        background-color: #eee;
        min-height: 100vh;
        margin-top: -17vh;
        padding: 30vh 0 25vh;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vh), 0 100%);
        z-index: 1;
        position: relative;

        @media (max-width: 87.5em){
            padding: 25vh 0 17vh;
        }

        @media (max-width: 37.5em){
            padding: 25vh 0 15vh;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vh), 0 100%);
        }
    }

    &__item{
        flex: 0 0 45%;
        opacity: 0;
        transition: 1s;

        &:not(:last-child){
            margin-bottom: 9rem;

            @media (max-width: 50em){
                margin-bottom: 5rem;
            }
        }

        &:last-of-type{
            margin: 0 auto;
        }
    }

    &__img{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 3px;
        
        box-shadow: 0 2rem 5rem rgba(#000, .5);
        transition: 1s;

        &:hover{
            transform: translateY(-.5rem) scale(1.01);
            box-shadow: 0 3rem 6rem rgba(#000, .7);
        }   
    }

    &__heading{
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        padding: 3rem 0;
        letter-spacing: 2px;
        text-shadow: 0 .5rem 1rem rgba(#000, .5);
        transition: 1s;
    }

    &__img:hover ~ &__heading{
        text-shadow: 0 1rem 2rem rgba(#000, .7);
        transform: translateY(-.2rem) scale(1.01);
    }

    &__text{
        font-size: 2rem;
        line-height: 1.5;
        text-align: center;
        transition: 1s;
    }

    &__img:hover ~ &__text{
        text-shadow: 0 .3rem .8rem rgba(#000, .3);
        transform: translateY(-.2rem);
    }
}
